.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  padding:50px 100px ;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .cardsContainer {
    padding: 50px 20px;
    gap: 40px;
  }
}