.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two-column layout */
  gap: 40px;
  row-gap: 60px;
  padding: 20px 0px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.banner {
  width: 100%;
  max-width: 700px;
  background-color: gray; /* Fallback background color */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aspectRatio {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .grid{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}