@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --gradient-color: linear-gradient(90deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 0%) 100%);
  --black-color: hsl(0, 0%, 100%);
  --reflection-color: hsla(48, 30%, 95%, .3);
  --body-color: hsl(48, 100%, 98%);
  --normal-font-size: 1rem;
}

body {
  color:black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in Webkit browsers */
}

html {
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
  overflow-y: scroll;
  /* Prevent layout shifting */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom minimalist scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2b2b2b;
  /* Dark track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  /* Darker thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
  /* Lighter on hover */
}