.main {
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: rgb(245, 245, 245);
    padding: 80px 0;
    overflow: hidden;
    width: 100vw;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100vw;
}

.title {
    font-size: 60px;
    line-height: 75px;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 180px;
}

.descriptionText {
    font-size: 22px;
    text-align: left;
    font-weight: 200;
    color: rgb(72, 72, 72);
    margin-left: 180px;
}

.grid {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100vw;
    padding-left: 180px;
    padding-right: 80px;
    scroll-padding-left: 200px;
}

.grid::-webkit-scrollbar {
    display: none;
}

.grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gridWrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(80, 80, 80);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
    transition: transform 0.2s, background-color 0.2s, opacity 0.5s;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

.arrowButton:hover {
    transform: translateY(-50%) scale(1.1);
    background-color: rgba(128, 128, 128, 0.2);
}

.arrowButton:active {
    transform: translateY(-50%) scale(1);
    background-color: rgba(128, 128, 128, 0.3);
}

.leftArrow {
    left: 10px;
}

.rightArrow {
    right: 30px;
}

.gridWrapper:hover .arrowButton {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 730px) {
    .title {
        font-size: 40px;
        line-height: 50px;
        margin-left: 20px;
    }

    .descriptionText {
        font-size: 20px;
        margin-left: 20px;
    }

    .grid {
        padding-left: 20px;
    }

    .arrowButton {
        display: none;
        /* Hide the arrows completely */
        visibility: hidden;
        opacity: 0;
    }
}